TRIGGER_SECRET_KEY=tr_prod_c........
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_....
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_........
CLERK_SECRET_KEY=sk_test_C.....
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
DATABASE_URL=postgresql://neondb_owner:<password>@ep-cool-queen-angf9mcm.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require
GOOGLE_GENERATIVE_AI_API_KEY=AIz...
TRIGGER_API_URL=https://api.trigger.dev
NEXT_PUBLIC_TRANSLOADIT_AUTH_KEY=a9...
TRANSLOADIT_AUTH_SECRET=68...
